extends ./layout.jade
//- locals = {
  nombre_completo,
  }
block content
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Edición del Paciente
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading  #{header}
          .panel-body
            .row
              .col-lg-6
                form(action="/editpaciente" method="POST" enctype="appplication/json")
                  .form-group
                    label Nombre
                    input(class="form-control", name="nombre", value='#{nombre}')
                  .form-group
                    label Apellido Paterno
                    input(class="form-control", name="apellidopaterno", value='#{apellido_paterno}')
                  .form-group
                    label Apellido Materno
                    input(class="form-control", name="apellidomaterno", value='#{apellido_materno}')
                  .form-group
                    label Entidad Servivio de Salud
                    input(class="form-control", name="ess", value='#{entidad_serv_salud}')
                  .form-group
                    .checkbox
                      label
                        input(type="checkbox", name="eps") 
                        | EPS
                  .form-group
                    button.btn.btn-default(type="submit") Submit
