extends ./layout.jade
//- locals = {
  nombre_completo,
  }
block content
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Información del Paciente
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading  #{header}
          .panel-body
            .row
              .col-lg-6
                form(role="form")
                  .form-group
                    label Nombre
                    p.form-control-static #{nombre}
                  .form-group
                    label Apellido Paterno
                    p.form-control-static #{apellido_paterno}
                  .form-group
                    label Apellido Materno
                    p.form-control-static #{apellido_materno}
                  .form-group
                    label Especialidad
                    p.form-control-static #{especialidad}
                  .form-group
                    label Cédula Profesional
                    p.form-control-static #{cedula_profesional}
