extends ./layout.jade
//- locals = {
  nombre_completo,
  }
block content
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Información del Paciente
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading  #{header}
          .panel-body
            .row
              .col-lg-6
                form(role="form")
                  .form-group
                    label Nombre
                    p.form-control-static #{nombre}
                  .form-group
                    label Apellido Paterno
                    p.form-control-static #{apellido_paterno}
                  .form-group
                    label Apellido Materno
                    p.form-control-static #{apellido_materno}
                  .form-group
                    label Especialidad
                    p.form-control-static #{especialidad}
                  .form-group
                    label Cédula Profesional
                    p.form-control-static #{cedula_profesional}
                .edit(align="right")
                  button.btn.btn-default(type="submit" style="margin-right:10px" onClick="edit()") Editar
                  script.
                    function edit(){
                      window.location.href = '/editmedico/#{id_Medico}'
                    }
                  button#eliminar.btn.btn-default(type="submit" style="margin-right:10px" onClick="elim()") Eliminar
                  script.
                    document.getElementById("eliminar").onclick = function(e){
                        //window.location.href = '/editmedico/#{id_Medico}'
                        var r = confirm("¿Seguro que desea eliminar el médico?")
                        if(r){
                          q1 = "DELETE FROM Persona WHERE id_Persona = " + #{id_Persona};
                          q2 = "DELETE FROM Medico WHERE id_Medico = " + #{id_Medico};
                          console.log(#{db});
                          #{db}.query(q2, function(err, rows, fields){
                            if(!err){
                              #{db}.query(q1, function(err, rows, fields){
                                if(!err){
                                    res.redirect("/");
                                }else{
                                  console.log(error);
                                }
                              });
                            }else{
                              console.log(error);
                            }
                            });
                        }

                    }
